<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ravikiran.logbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageBanksActivity"
            android:label="@string/manage_banks"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MBhistoryActivity"
            android:label="@string/MBhistory"
            android:parentActivityName=".ManageBanksActivity" />
        <activity
            android:name=".ExpenditureActivity"
            android:label="@string/expenses"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".exphistoryActivity"
            android:label="@string/exphistory"
            android:parentActivityName=".ExpenditureActivity" />
        <activity
            android:name=".loansActivity"
            android:label="@string/loans"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loanhistoryActivity"
            android:label="@string/loanhistory"
            android:parentActivityName=".loansActivity" />
        <activity
            android:name=".AddRow"
            android:label="@string/addrow"
            android:parentActivityName=".loansActivity" />
        <activity android:name=".Activity_Raw"></activity>
    </application>

</manifest>